.register-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.register-form__header {
  font-size: 1.6rem;
}

.register-form__header,
.register-form__field {
  margin-bottom: 2.5rem;
}

.register-form__field--full-name {
  margin-right: 8.3rem;
}

.register-form__field--email {
  margin-right: 6rem;
}

.register-form__field--password {
  margin-right: 8rem;
}

.register-form__field--confirm-password {
  margin-bottom: 3rem;
  margin-right: 12.5rem;
}

.register-form__label {
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 3rem;
}

.register-form__input {
  border-radius: 0.4rem;
  border: 1px solid black;
  font-size: 1.1rem;
  height: 2.5rem;
  padding: 0.5rem;
  width: 12.7rem;
}

.register-form__button {
  background-color: #66fffe;
}
